$main-color: #22576e;
$main-color-dark: #122E3A;
$secondary-color-light: #727272;
$secondary-color: #363636;
$secondary-color-dark: #272727;

// Mixin 
@mixin transitions{
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}

body{ 
    font-family: 'Montserrat', sans-serif;
    margin: 0 !important;
    background: radial-gradient(circle, rgba(34,87,110,1) 0%, rgba(18,46,58,1) 35%, rgba(0,0,0,1) 100%);
    min-height: 100vh;
    // common
    input, select, textarea, button:focus{
        outline: 0;
        outline: none;
    }
    .mainSectionHeading{
        font-weight: 600;
        font-size: 30px;
        color: $main-color;
    }
    .subSectionHeading{
        font-weight: 600;
        font-size: 45px;
    }
    .separator{
        height: 2px;
        padding: 0 !important;
        background-color: $main-color;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .hide{
        display: none !important;
    }
    .deleteBut{
        background-color: red;
        border: 0;
        padding: 5px 10px;
        color: white;
        border-radius: 3px;
        margin-left: 2px;
        margin-right: 2px;
        @include transitions;
        &:hover{
            background-color: rgb(203, 0, 0);
        }
    }
    .editBut{
        background-color: $main-color;
        border: 0;
        padding: 5px 10px;
        color: white;
        border-radius: 3px;
        margin-left: 2px;
        margin-right: 2px;
        &:hover{
            background-color: $main-color-dark;
        }
    }
    .mainButton{
        background-color: $main-color;
        color: white;
        border: 0;
        padding: 5px 10px;
        border-radius: 3px;
        font-size: large;
        @include transitions();
        &:hover{
            background-color: $main-color-dark;
        }
    }
    .mainBut{
        background-color: $main-color;
        color: white;
        border: 0;
        padding: 5px 10px;
        border-radius: 3px;
        // font-size: large;
        width: 100%;
        @include transitions();
        &:hover{
            background-color: $main-color-dark;
        }
    }

    .mainTablet{
        background-color: rgb(117, 117, 117);
        border-radius: 20px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
        .sidePanel{
            background-color: rgb(201, 201, 201);
            border-radius: 20px 0 0 20px;
            height: 80vh;
            overflow: auto;
            overflow-x: hidden;
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
            padding-top: 15px;
            padding-bottom: 15px;
            .userLabel{
                background-color: white;
                margin-top: 0px;
                padding: 5px 10px;
                border-radius: 5px;
            }
        }
        .sidePanel::-webkit-scrollbar {
            display: none;
        }
        .mainPanel{
            background-color: white;
            border-radius: 0px 20px 20px 0px;
            height: 80vh;
            overflow: auto;
            overflow-x: hidden;
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .mainPanel::-webkit-scrollbar {
            display: none;
        }
    }
    // common

    // component

    .logoutButton{
        width: 100%;
        margin-top:10px;
        display: block;
        button{
            width: 100%;
            background-color: $secondary-color;
            color:  white;
            font-weight: 600;
            border: 0;
            border-radius: 5px;
            padding: 10px 10px;
            @include transitions;
            &:hover{
                background-color: $secondary-color-dark;
            }
        }
    }
    .settingButton{
        width: 100%;
        margin-top:10px;
        display: block;
        button{
            width: 100%;
            background-color: white;
            color:  $secondary-color-dark;
            font-weight: 600;
            border: 0;
            border-radius: 5px;
            padding: 10px 10px;
            @include transitions;
            &:hover{
                color: $main-color;
            }
        }
    }
    .createProjectBut{
        width: 100%;
        margin-top:10px;
        display: block;
        button{
            width: 100%;
            background-color: black;
            color:  white;
            font-weight: 600;
            border: 0;
            border-radius: 5px;
            padding: 10px 10px;
            @include transitions;
            &:hover{
                background-color: black;
            }
        }
    }
    .projectList{
        width: 100%;
        margin-top:10px;
        display: block;
        .allProjects{
            a{
                text-decoration: none !important;
                .singleProject{
                    color: black;
                    h3{
                        color: rgb(2, 0, 136);
                        text-transform: capitalize; 
                    }
                    h5{
                        text-transform: capitalize; 
                    }
                }
            }
        }
        button{
            width: 100%;
            background-color: white;
            color:  black;
            box-shadow: 1px 0 10px 0 rgba(0, 0, 0, 0.405);
            font-weight: 600;
            border: 0;
            border-radius: 5px;
            padding: 10px 10px;
            margin-bottom: 5px;
            text-transform: capitalize; 
            &:hover{
                background-color: $main-color;
                color: white;
            }
        }
        .active{
            background-color: $main-color;
            color:  white;
            text-transform: capitalize; 
            &:hover{
                background-color: $main-color-dark;
                color: white;
            }
        }
    }
    .createProject{
        .form{
            h5{
                margin-top: 5px;
            }
            input, textarea{
                margin-top: 5px;
                margin-bottom: 15px;
                width: 100%;
                padding: 5px 10px;
            }
        }
    }
    .projectHeader{
        // box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
        font-size: larger;
        i{
            color: $main-color;
        }
        .deleteBut{
            width: 100%;
        }
        .mainBut{
            color: white !important;
            font-size: large;
            font-weight: 800;
        }
    }
    .taskList{
        .singleTask{
            color: white;
            // background: radial-gradient(circle, rgba(34,87,110,1) 0%, rgba(18,46,58,1) 35%, rgba(0,0,0,1) 100%);
            background: radial-gradient(circle, rgba(116,136,144,1) 0%, rgba(100,123,134,1) 35%, rgba(76,95,105,1) 100%);
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
            .deleteBut{
                padding: 2px 5px !important;
                font-size: smaller;
                i{
                    font-size: smaller !important;
                }
            }
            select{
                width: 100%;
                padding: 5px;
                border: 1px solid rgba(255, 252, 252, 0.6);
                border-radius: 2px !important;
                background-color:rgba(0,0,0,0);
                color: white;
            }
            .dropdown{
                .dropdown-toggle{
                    text-align: left;
                    // width: 100%;
                    background-color: white;
                    color: black;
                    border: 0;
                    &:focus{
                        box-shadow: 0 0 0 0 rgba(0,0,0,0) !important;
                    }
                    &:hover{
                        background-color: rgb(235, 235, 235) !important;
                    }
                }
                .reopen{
                    background-color: red !important;
                    color: white;
                    &:hover{
                        background-color: rgb(194, 0, 0) !important;
                    }
                }
                .complete{
                    background-color: rgb(0, 197, 3) !important;
                    color: white;
                    &:hover{
                        background-color: rgb(17, 152, 2) !important;
                    }
                }
                .dropdown-menu{
                    // background-color: $main-color !important;
                }
                .dropdown-item {
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .createTaskComp{
        h6{
            margin-top: 15px;
        }
        input{
            width:100%;
            height: 35px;
            padding: 5px;
        }
    }

    // component

    // Pages
    // login page 
    .login{
        background-color:white;
        .container-fluid{
            min-height: 100vh;
            position: relative;
            .homeIcon{
                position: absolute;
                top: 20px;
                right: 20px;
                @include transitions;
                i{
                    font-size: xx-large;
                    color: $main-color;
                }
                &:hover{
                    i{
                        color: $main-color-dark;
                    }
                }
            }
            .row{
                .leftt{
                    background-color:white;
                    background-color: $main-color-dark;
                    padding: 0 !important;
                    img{
                        width: 100%;
                        height: 100vh;
                    }
                }
                .rightt{
                    background-color:white;
                    text-align: center;
                    img{
                        height: 100px;
                        margin-bottom: 10px;
                    }
                    .form{
                        text-align: left;
                        width: 70%;
                        margin: 0 auto;
                        margin-top: 50px;   
                        input, select{
                            width: 100%;
                            padding: 5px 10px;
                            margin-bottom: 20px;
                        }
                        .passwordCol{
                            position: relative;
                            span{
                                position: absolute;
                                right: 10px;
                                top: 2px;
                            }
                        }
                        a{
                            text-decoration: none;
                            color: $main-color;
                            &:hover{
                                color: $main-color-dark;
                            }
                        }
                        button{
                            width: 100%;
                            padding: 10px 20px;
                            margin-bottom: 10px;
                            border: 0;
                            background-color: $main-color;
                            color: white;
                            font-size: larger;
                            font-weight: 600;
                            @include transitions;
                            &:hover{
                                background-color: $main-color-dark;
                            }
                        }
                        .createBut{
                            width: 100%;
                            padding: 10px 20px;
                            margin-bottom: 10px;
                            border: 0;
                            background-color: white;
                            border: 1px solid $main-color;
                            color: $main-color;
                            font-size: larger;
                            font-weight: 600;
                            @include transitions;
                            &:hover{
                                background-color: $main-color;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
    // login page 
    // home page 
    .home{
        min-height: 100vh;
        .container{
            
        }
    }
    // home page 
    // project page 
    .project{
        min-height: 100vh;
        .container{
            
        }
    }
    // project page 
    // create project page 
    .createProjectPage{
        min-height: 100vh;
        .container{
            
        }
    }
    // create project page 
    // Pages 
    
}

// media queries end

@media only screen and (max-width: 992px) {
    .login{
        .container-fluid{
            height: 100vh;
            .row{
                .leftt{
                    display: none !important;
                }
                .rightt{
                    padding-top: 50px;
                    .form{
                        width: 100% !important;
                    }
                }
            }
        }
    }
}

// media queries end